body {
font: 1.2727rem "Century Gothic", Futura, sans-serif;
margin: 1.8182rem;
}

ol, ul {
padding-left: 2.7273rem;
}

.board-row:after {
clear: both;
content: "";
display: table;
}

.status {
margin-bottom: 0.9091rem;
}

.square {
background: #fff;
border: 0.0909rem solid #999;
float: left;
font-size: 2.1818rem;
font-weight: bold;
line-height: 3.0909rem;
height: 3.0909rem;
margin-right: -0.0909rem;
margin-top: -0.0909rem;
padding: 0;
text-align: center;
width: 3.0909rem;
}

.square:focus {
outline: none;
}

.kbd-navigation .square:focus {
background: #ddd;
}

.game {
display: flex;
flex-direction: row;
}

.game-info {
margin-left: 1.8182rem;
}
